<p id="notice"><%= notice %></p>

<div class="moduleContainer">
    <div class="row bottom-border title-row">
        <div class="col-12">
          <h1 class='page-title' id='holdings-title'>Holdings</h1>
        </div>
    </div>
    <div class='row' id='holding-data'>
        <%= render @holdings %>
    
        <%= link_to 'New Holding', new_holding_path %>
    </div>
</div>
