<p id="notice"><%= notice %></p>

<div class="moduleContainer">
    <div class="row bottom-border title-row">
        <div class="col-12">
          <h1 class='page-title' id='portfolios-title'>Portfolios</h1>
        </div>
    </div>
    <div class='row' id='portfolios-data'>
        <%= render @portfolios %>
    
        <%= link_to 'New Portfolio', new_portfolio_path %>
    </div>
</div>