<ul class="dropdown-menu" id='symbol-search-results'>
    <% if @securities.present? %>
        <% @securities.each do |security| %>
            <li><%= security.symbol %> | <%= security.description %></li>
            <li class='divider'></li>
        <% end %>
    <% end %>
</ul>