/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "modules";
 @import "transactions";
 
.moduleContainer {
 margin: 15px;
}


.bottom-border {
  padding-left: 15px;
  border-bottom: 1px solid #333e48;
  margin-bottom: 10px;
}

.col-container {
 display: table;
 width: 100%;
}

.col-cell {
 display: table-cell !important;
 height: 100%;
 float: none;
}


.page-title {
 
 text-align: left;
 margin-bottom: 5px;
 font-size: 50px;
 line-height: 100%;
 
}

.page-subtitle {
 margin-left: 5px;
 margin-top: 0px;
 line-height: 85%;
}

.account-details-item {
 
 h5 {
 font-weight: bold;
 margin: 15px;
 }
}

.portfolio-panel, .holding-panel {
 
 .panel-body {
  height: 70px;
  padding: 0px;
  
  table {
   margin: 0px;
  }
 }
}

 
#quick-quote-form {
 width: 70%;
}

#symbol-search-field {
 float: left;
 width: 65%;
} 

#symbol-search-submit {
 float: right;
 width: 30%;
}
 
#search-drop-down {
 visibility: visible;
 z-index: +1; position:relative;
}
 
#symbol-search-results {
 border: 1px solid black;
 background-color: white;
 visibility: visible;
}

#symbol-search-dropdown {
 position: relative;
 float: left;
}

// .page-title {
//  font-family: 'Audiowide';
//  font-weight: bold;
//  padding-left : 50px;
// }
 

