// Place all the styles related to the Modules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#totals-card {
    padding: 15px;
    
}

.row {
    height: flex;
}

.col {
    flex: 1;
}


